        *{
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        .focus:hover{
            cursor: pointer;
            border: 1px solid white;
        }
        
        header{
            background-color: #131920;
            color: white;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            align-items: center;
            font-size: 15px;
            height: 40px;
        }

        .search-tab{
            width: 45%;
            height: 70%;
            display: flex;
            box-sizing: border-box;
            align-items: center;
        }

        input{
            width: 100%;
            height: 35px;
            border-radius: 8px 0 0 8px;
            padding-left: 20px;
        }

        input{
            width: 100%;
            height: 35px;
            border-radius: 8px;
            padding-left: 20px;
        }

        #icon{
           font-size: 22px;
           padding: 6.8px;
           border-radius: 0 6px 6px 0;
           color: black;
           background-color: #fdbd68;
        }

        select{
            padding: 3px;
        }

        .cart{
            font-size: 22px;
            color: white;
        }